@charset "utf-8";

#company {
  background: url(../img/middle2.png)no-repeat 100% 100%;
  height: 624px;
  position: relative;
  background-size: cover;
  width: 100%;
}
#company .wwcopany{
  width: 1903px;
  margin: 0 auto;
  position: relative;
}
#company .wcompany{
  
  
  /*! float: left; */
  width: 1400px;
  margin: 0 auto;
}
#company .wcompany > h3{
  
  /*! float: left; */
  text-transform: uppercase;
  font-size: 60px;
  position: relative;
  top: -71px;
  font-weight: bold;
  text-align: left;
}
#company .wcompany > p{
  
  /*! float: left; */
  text-align: left;
  font-size: 16px;
  font-weight: 300;
}
#company .wcompany ul{
  
  padding-top: 37px;
}
#company .wcompany ul li{
  
}
#company .wcompany ul li:first-child{
  
  width: 222px;
  padding: 30px 0;
  text-align: left;
}
#company .wcompany ul li:first-child h3{
  
  font-weight: bold;
 
}
#company .wcompany ul li:first-child h3::after{
  content: "";
  background-image: url(../img/images.png);
  background-position: -253px 0px;
  display: block;
  height: 15px;
  width: 10px;
  float: right;
}
#company .wcompany ul li:first-child p{
  
}
#company .wcompany ul li:first-child p::after{
}

#company .wcompany ul li{
  
}
#company .wcompany ul li+li{
  
  width: 222px;
  padding: 30px 0;
  text-align: left;
}
#company .wcompany ul li+li h3{
  
  font-weight: bold;
}
#company .wcompany ul li+li h3::after{
  content: "";
  background-image: url(../img/images.png);
  background-position: -253px 0px;
  display: block;
  height: 15px;
  width: 10px;
  float: right;
}
#company .wcompany ul li+li p{
  
}
#company .mimg{
  
  /*! float: right; */
  /*! width: 50px; */
  /*! height: 50px; */
  /*! border: 1px solid; */
  /*! position: absolute; */
  /*! left: 600px; */
  /*! top: -178px; */
  /*! position: relative; */
  /*! overflow: hidden; */
}
#company .mimg {
  
  background-image: url(../img/middle1.png);
  height: 600px;
  background-size: cover;
  position: absolute;
  top: -249px;
  width: 1051px;
  right: 0;
}
#company .mimg a{
  
}
#company .mimg span{
  
}