@charset "utf-8";

/* 컨텐츠1 박스오피스 */
.content1{
  
  position: relative;
}
.content1 .nav-tabs{
  
  text-align: center;
}
.content1 .nav-tabs li{
  
  width: 20%;
  display: inline-block;
}
.content1 .nav-tabs li h3{
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  text-align: center;
}
.content1 .nav-tabs li.active h3,.content1 .nav-tabs li.active h3:hover{
  color: #555;
  cursor: default;
  background-color: #337ab7;
  border: 1px solid #ddd;
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-color: transparent;
  }
.content1 .nav-tabs li h3 a{
  font-size: 23px;
}
.content1 .nav-tabs li.active h3 a{
  
  color: #fff;
}
.content1 .tab-content{
  
  margin-top: 30px;
}
.content1 .tab-content ul{
  
  overflow: hidden;
}
.content1 .tab-content ul li{
  
}
.content1 .tab-content ul li a{
  
}
.content1 .tab-content ul li a img{
  width: 100%;
}
.content1 .tab-content ul li a h4{
  
}
.content1 .tab-content ul li a span{
  
}
.content1 .tab-content ul li button{
  
}
.allview{
  position: absolute;
  top: 10px;
  right: 10px;
}

/* 컨텐츠2 hot movie */
.content2{
  
}
.content2 .media-body{
  width: 33.333%;
}
.content2 .media-body::after{
  content: "";
  width: 100%;
  height: 406px;
  display: block;
  background-image: url(../img/hotmovie_poster.png);
  background-repeat: no-repeat;
}
.content2 .media-right{
  
}
.content2 .media-right iframe{
  width: 100%;
  height: 354px;
  margin-top: 37px;
}

.container-fluid{
  padding: 0;
}
.container-fluid article{
  
  margin-top: 50px;
  margin-bottom: 50px;
}
#contents .jumbotron{
  text-align: center;
  background-color: #DBDBDB;
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* 768미만의 반응형 */
@media screen and (max-width:768px){
  .content1 .nav-tabs li{
  width: auto;
  }
  .content1 .nav-tabs li h3 a {
   font-size: 3.3vw;
   }
  .allview{
  top: -20px;
  }
  .content1 .tab-content ul li {
  text-align: center;
  padding-bottom: 46px;
  }
  .content1 .tab-content ul li a {
   text-align: center;
  display: block;
   overflow: hidden;
   position: relative;
  }
  .content1 .tab-content ul li a h4 {
   display: inline-block;
  }
  .content1 .tab-content ul li a span {
  position: absolute;
  right: 15px;
  bottom: 13px;
  } 
  .content1 .tab-content ul li button {
  margin-top: 20px;
   }
  .content2 .media-body{
    
  width: 100%;
  text-align: center;
  display: block;
  }
  .content2 .media-body::after{
  content: "";
  height: auto;
  background-image: none;
  }
  .content2 .media-right{
    display: block;
  }
}











