@charset "utf-8";
#top h1{
  /*! padding-top: 0; */
  height: auto;
}
#top h1 a{
  display: block;
  text-indent: -9999px;
  background-image: url(../img/mvtree_logo.png);
  background-repeat: no-repeat;
  width: 185px;
  height: 70px;
  background-size: contain;
}
#top .mainmenu {
    padding-top: 50px;

}
#top nav .etcmenu {
    width: 100%;
    text-align: right;
    background-color: #e6e6e6;
    margin-right: 0;
}
#top .etcmenu li:not(:last-child)::after{
 content: "|";
 line-height: 26px;
 color: #888;
 float: right;
}
@media screen and (max-width:768px){
  #top nav .etcmenu {
    width: 100%;
    text-align: left;
    background-color: transparent;
  }
  #top .etcmenu li:not(:last-child)::after{
    
  content: "";
  }
}
@media screen and (max-width:991px){
  .container > .navbar-header{
   float: none;
  }
  .container > .navbar-header .navbar-brand{
  float: none;
  text-align: center;
  }
  #top h1 a{
  margin: 0 auto;
  }
  #top .mainmenu{
  float: none;
  text-align: center;
  padding-top: 10px;
  }
  #top nav .etcmenu li a{
    
  padding-right: 10px;
  padding-left: 10px;
  font-size: 13px;
  }
}














