@charset "utf-8";
#history{
  /*! display:none; */
  /*! border: 1px solid; */
  /*! height: 900px; */
  padding: 100px;
}
#history > div{
  
  width: 1400px;
  margin: 40px auto 0;
}
#history img{
  
  position: relative;
  /*! top: -200px; */
  margin-top: -200px;
  max-width: 100%;
}
#history ul{
  
  width: 1400px;
  /*! margin: 0 auto; */
  height: 340px;
  display: inline-block;
}
#history ul li{
  
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  border: 1px solid #C6C6C6;
  margin-left: -4px;
  height: 100%;
  vertical-align: top;
  /*! transition:  all 0.3s ease-in-out 0.3s; */
}
#history ul li:first-child:hover,
#history ul li:nth-child(2):hover,
#history ul li:nth-child(3):hover,
#history ul li:nth-child(4):hover,
#history ul li:nth-child(5):hover{
  
  background-color: white;
  /*! transition: all 0.3s ease-in-out 0.3s; */
  opacity: 1;
  border: 1px solid #C6C6C6;
  box-shadow: 0 0 45px rgba(1,2,3,.6);
  outline-offset: 15px;
  outline-color: gray;
}
#history ul li:first-child:hover p,
#history ul li:nth-child(2):hover p,
#history ul li:nth-child(3):hover p,
#history ul li:nth-child(4):hover p,
#history ul li:nth-child(5):hover p{
  opacity: 1;
}

#history ul li:nth-child(4):hover h3{
  height: 200px;
  /*! border: none; */
}
#history ul li:nth-child(4):hover{
  background: url(../img/keumhomisulkwan.png) no-repeat center;
}
#history ul li:nth-child(4):hover h3,
#history ul li:nth-child(4):hover p,
#history ul li:nth-child(4):hover span{
  opacity: 1;
  /*! background-image: none; */
  font-size: 16px;
}
#history ul li:nth-child(4):hover h3
#history ul li:nth-child(4):hover{
  
}
#history ul li p{
  opacity: 0;
  transition: all 0.5s;
}
#history ul li span{
  opacity: 0;
}
#history ul li h3{
  
  height: 255px;
}
#history ul li h3::after{
  
  content: "";
  display: block;
  /*! height: 2px; */
  border: 2px solid #C6C6C6;
  width: 40px;
  margin: 0 auto;
  margin-top: 70px;
}
#history ul li:not(:first-child){
  
  border-left: none;
}
#history ul li:first-child h3:before{
  content: "";
  background: url(../img/images.png);
  display: block;
  width: 94px;
  background-position: -132px -326px;
  height: 112px;
  margin: 30px auto 50px;
}
#history ul li:nth-of-type(2) h3:before{
   content: "";
  background: url(../img/images.png);
  display: block;
  width: 139px;
  background-position: -260px -326px;
  height: 119px;
  margin: 30px auto 38px;
}
#history ul li:nth-of-type(3) h3:before{
   content: "";
  background: url(../img/images.png);
  display: block;
  width: 103px;
  background-position: -405px -303px;
  height: 142px;
  margin: 30px auto 15px;
}
#history ul li:nth-of-type(4) h3:before{
  content: "";
  background: url(../img/images.png);
  display: block;
  width: 94px;
  background-position: -1126px -308px;
  height: 149px;
  margin: 30px auto 11px;
}

#history ul li+li+li+li+li h3:before{
  content: "";
  background: url(../img/images.png);
  display: block;
  width: 93px;
  background-position: -559px -332px;
  height: 112px;
  margin: 30px auto 50px;;
}
