/*상단메뉴*/
body{
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  /*! position: relative; */
}





/*-bounce fixed------------------------------------------------------------------------------------------*/
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.4; }
  100% { opacity:0.0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
div#headerBottom i{
  
  font-size: 40px;
  color: white;
  -webkit-animation: flickerAnimation 1.9s infinite;
   -moz-animation: flickerAnimation 1.9s infinite;
   -o-animation: flickerAnimation 1.9s infinite;
    animation: flickerAnimation 1.9s infinite;
  /*! position: fixed; */
  z-index: 2;
}
div#headerBottom .bounce{
   position: fixed;
  bottom: 1rem;
  left: 50%;
  /*! margin-left:-20px; */
  width: 40px;
  height: 40px;
background: #341d1d00;
   z-index: 10;
}
.bounce {
  animation: bounce 1.8s infinite;
  
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
  
  @keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
}
/*-bounce fixed------------------------------------------------------------------------------------------*/

