@charset "utf-8";
#title #titleS li{
 
   background-repeat: no-repeat;
   background-size: cover;
}
#title #titleS ul li:nth-child(1){
 background-image:url(../img/title1.png);
}
#title #titleS ul li:nth-child(2){
   background-image:url(../img/title2.png);
}
#title #titleS ul li:nth-child(3){
   background-image:url(../img/title3.png);
}
#title #titleS li img{
 width: 100%;
}