@charset "utf-8";

/* 대메뉴*/

#wheader{
  /*! border: 1px solid; */
  position: relative;
  max-width: 1903px;
  height: 80px;
  /*! overflow: hidden; */
  background-color: white;
}

/*--------------------------로고--------------------*/
#wheader #header h1{
  
  float: left;
  background: url(../img/logo.png) no-repeat;
  width: 200px;
  height: 47px;
  text-indent: -9999px;
  background-size: contain;
  position: relative;
  top: 10px;
  left: 106px;
}
#wheader #header h1 a{
  
}
/*--------------------------로고--------------------*/
/*--------------------------메뉴바-----------------*/
#wheader #header{
  
  position: fixed;
  /*! right: calc( 50% - 800px); */
  background-color: #fff;
  width: 100%;
  z-index: 3;
}
#wheader #header >div{
  
  /*! display: inline-block; */
}
#wheader #header .wmainMenu{
  
  display: inline-block;
  width: 1700px;
}
#wheader #header .wmainMenu .mainMenu{
  
  display: inline-block;
  /*! line-height: 80px; */
}
#wheader #header .wmainMenu .mainMenu h2{
  
}
#wheader #header .wmainMenu .mainMenu h2 a{
  
  padding: 0 22.5px;
  line-height: 80px;
  display: block;
}
#wheader #header .wmainMenu .mainMenu > li{
 
  display: inline-block;
}

#wheader #header .wright{
  
  float: right;
  /*! line-height: 80px; */
  /*! display: inline-block; */
  /*! width: 33.3%; */
}
#wheader #header .wright .wlang{
  
  float: left;
}
#wheader #header .wright .wlang+ul{
  
  float: left;
}
#wheader #header .wright .wlang select{
  all: unset;
  line-height: 80px;
}

#wheader #header .wmainMenu button:first-child+button{
  background: url(../img/hbtn.png) no-repeat center;
  width: 90px;
  height: 80px;
  display: inline-block;
}
#wheader #header .wmainMenu .wright button:first-child{
  content: "";
  background: url(../img/images.png) -40px -5px;
  width: 25px;
  line-height: 27px;
  background-position: -40px -5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-indent: -9999px;
}
/*--------------------------메뉴바-----------------*/
/*--------------------------sitemap---------------*/
#wheader .wrightsitemap{
  /*! display: none; */
  /*! float: right; */
  overflow: hidden;
  width: 90px;
  position: absolute;
  right: 0;
  top: 84px;
  /*! z-index: 4; */
}
#wheader .wrightsitemap a.btn{
  
  /*! background: url(../img/hbtn.png) no-repeat center; */
  /*! width: 90px; */
  /*! height: 80px; */
  /*! display: block; */
  /*! padding: 34px; */
}
#wheader div.wrightsitemap ul.rightsitemap{
  
  /*! width: 67px; */
  /*! height: 870px; */
  /*! background-color: rgba(206,219,227,0.3); */
  /*! padding-top: 10px; */
  display: none;
}
#wheader .wrightsitemap .vertical-text{
  
  text-transform: uppercase;
  writing-mode: vertical-lr;
  font-size: 70px;
  color: #fff;
  height: 800px;
  background: #ffffff2b;
  width: 90px;
  /*! padding-left: 6px; */
  line-height: 1.3;
}

/*--------------------------sitemap---------------*/

#wheader #header div.wrightsitemap ul.rightsitemap a{
  display: none;
}





